body {
    background: rgb(66, 0, 133);
    background: linear-gradient(90deg, rgba(71, 0, 143, 0.933) 0%, rgb(12, 21, 102) 50%, rgba(19, 11, 133, 0.93) 100%);
}
::-webkit-scrollbar {
    width: 0;
}
.mainBody h1 {
    text-align: center;
}
.mainBody {
    overflow-y: auto;
    margin-left: 10px;
    margin-top: 15px;
    height: 95vh;
    width: 95%;
    background: rgb(36, 33, 39);
    background: linear-gradient(90deg, rgba(21, 20, 22, 0.844) 0%, rgba(42, 39, 202, 0.967) 44%, rgba(20, 20, 22, 0.799) 96%);
    border-radius: 8px;
}
.panel {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 0px;
    background: linear-gradient(90deg, rgb(56, 1, 107) 0%, rgba(65, 11, 128, 0.967) 44%, rgba(20, 20, 22, 0.799) 96%);
    height: 95vh;
    width: 150px;
    border-radius: 16px;
}
.btnreset, .btnshow, .btnadd, .btnupdate {
    position: relative;
    background: linear-gradient(90deg, rgb(2, 34, 173) 0%, rgba(11, 8, 218, 0.967) 44%, rgba(53, 53, 109, 0.849) 96%);
    font-family: Arial;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    margin: 15px;
    width: 100px;
    height: 35px;
    color:rgb(255, 255, 255)
}
.page {
    display: flex;
}
.respondent, .respondentAdder, .respondentEditer {
    display: inline-block;
    padding-left: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    min-height: 160px;
    min-width: 320px;
    margin: 10px;
    border-width: 5px;
    border-radius: 10px;
    border-color:rgb(44, 150, 221);
    border-style: solid;
    background-color: rgb(41, 66, 90);
    font-family: Georgia;
}
.btn_delete, .btn_edit, .btn_confirm {
    width: 23px;
    height: 23px;
}
.btn_delete {
    float: right;
    background-image: url("./objects/deleteimage.png");
}
.btn_edit {
    float: right;
    background-image: url("./objects/editimage.png");
}
.btn_confirm {
    float: right;
    background-image: url("./objects/confirmimage.png");
}
.respondentkeys {
    float: left;
}
.respondentvalues {
    margin-left: 15px;
    float: center;
}
.respondentpanel {
    margin-left: 5px;
    float: right;
}
.respondentpanel, .respondentkeys, .respondentvalues {
    display: inline-block;
}
.respondentkeys, .respondentvalues {
    min-width: 100px;
}
.respondentAdder .inputkey {
    min-height: 21px;
}
.respondentAdder {
    padding-top: 5px;
    justify-content: space-between;
}
.respondentEditer .respondentkeys {
    float: left;
    min-height: 21px;
}
.respondentEditer .respondentpanel {
    float: right;
}
.respondentEditer {
    float: left;
}
.finder {
    margin-top: 15px;
    margin-left: 10px;
    max-width: 250px;
    max-height: 125px;
    background-color:rgb(71, 59, 105);
    border-color:rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}
.finder input {
    border-color:rgb(255, 255, 255);
    margin-left: 10px;
}